body {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  background-color: rgb(0, 0, 0);
  color: white;
}
#head {
  display: block;
  text-align: center;
}
#btn {
  font-family: "Press Start 2P", cursive;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
}
#secret {
  border: 2px solid white;
  width: 200px;
  height: 80px;
  margin: auto;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}
.box {
  display: flex;
  justify-content: space-between;
}
.input,
.score {
  border: 2px solid white;
  width: 500px;
  height: 300px;
  margin-top: 80px;
}
#num {
  height: 100px;
  font-size: 50px;
  width: 170px;
  text-align: center;

  display: block;
  margin: auto;
  margin-top: 80px;
  background-color: rgb(245, 233, 195);
}
#submit {
  display: block;
  cursor: pointer;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  background-color: rgb(100, 54, 54);
  font-size: 20px;
  margin: auto;
  margin-top: 7px;
}
.score {
  text-align: center;
  font-size: 20px;
  justify-content: center;
}

#massage,
#name {
  text-align: center;
}
#name {
  margin-top: 10px;
  color: rgb(172, 223, 236);
}
@media only screen and (max-width: 600px) {
  #secret {
    width: 110px;
    height: 45px;
    font-size: 13px;

    margin-top: 25px;
  }
  #btn {
    height: 50px;
  }
  .input,
  .score {
    border: 2px solid white;
    width: 300px;
    height: 300px;
    margin-top: 60px;
  }
  #num {
    height: 60px;
    font-size: 25px;
    width: 130px;

    margin-top: 80px;
  }
  #submit {
    height: 30px;
    width: 70px;
    border-radius: 7px;
    font-size: 13px;
    margin-top: 4px;
  }
  .score {
    font-size: 13px;
  }
}
